.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item{
  width: 30%;
  height: 60px;
  border: 1px solid lightskyblue;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}